body{
  width: 100vw;
  height: 100vh;
  background-color: ivory;
  color:#DD7230;
}

#content{
  width: 100%;
}

#home{
  border-bottom: solid red 2px;
}

#body{
  padding:25px;
  display: grid;
  gap:25px;
  grid-template-columns: 1fr 2fr 1fr;
}

#body > p, #body > h1{
  grid-column: 2 / 3;
  text-align: center;
  padding: 20px;
  border: solid red 2px;
}